# Welcome to Lab: Experimental Design üë®‚Äçüî¨‚öóÔ∏èüß™

Before this lab section, you completed the "Hello Survey" based on the questions you generated with your groups.  This week, you will do an analysis of the results and explore techniques to do great experimental design in Python!

A few tips to remember:

- Refer to your **lecture notebook** and the **pandas cheat sheet** to help you out with the code!
- If you find yourself stuck for more than a few minutes, ask a neighbor or course staff for help!  When you are giving help to your neighbor, explain the **idea and approach** to the problem without sharing the answer itself so they can have the same **<i>ah-hah</i>** moment!
- We are here to help you!  Don't feel embarrassed or shy to ask us for help!

Let's get started!

<hr style="color: #DD3403;">

In [ ]:
# Meet your CAs and TA if you haven't already!
# ...first name is enough, we'll know who they are! :)
ta_name = "Daniel"
ca1_name = ""
ca2_name = ""


# Say hello to each other!
# - Groups of 3 are ideal :)
# - However groups of 2 or 4 are fine too!
partner1_name = ""
partner1_netid = ""
partner1_inYourGroupLastWeek = "yes"

partner2_name = ""
partner2_netid = ""
partner1_inYourGroupLastWeek = "yes"

partner3_name = ""
partner3_netid = ""
partner1_inYourGroupLastWeek = "yes"

<hr style="color: #DD3403;">

# Part 1: Hello Dataset Analysis

In lab last week, you created a series of questions that made up the "Hello Dataset".  Before lab, you completed this survey along with the entire course.  Today, you're going to do analysis on this dataset! :)

## Your Binary Question Analysis

You will be analyzing the **binary question** your group asked the class from `lab_pandas` -- record it below.  If multiple people from your group had different binary questions, decide which one to use and record that question below.

Do you have a windows or mac?

## Load the Hello Dataset

The "Hello Dataset" is available here:
```
https://waf.cs.illinois.edu/discovery/hello-fa22.csv
```

Use Python to load this dataset into a DataFrame called `df`:

In [2]:
import pandas as pd
df = pd.read_csv("C:/Users/kubas/Downloads/hello-fa22.csv")

## Find The Variable for Your Question

The command `df.columns.tolist()` will **list all of the columns (variables)** in a DataFrame.  Use `df.columns.tolist()` and read the output until you find the column name for your binary question.

- You may see the message: `Output exceeds the __size limit__. Open the full output data __in a text editor__`
- If you do, click the **in a text editor** link to open the whole list in a new tab. :)

In [8]:
df.columns.tolist()

['Name',
 'Lab',
 'Number 1 or Number 2?',
 'Number 3 or Number 5?',
 'What is your preferred way of saying one half?',
 '7UP or Sierra Mist?',
 'Android or iOS?',
 'Apple or Orange?',
 'Beef or Pork?',
 'Your birthday is...',
 'Do you prefer to wear black or white?',
 'Boba or Coffee?',
 'Cake or Pie?',
 'Canes or Chick-fil-a?',
 'Do you pour milk or cereal first?',
 'Do you prefer chocolate or vanilla?',
 'Coffee or Tea?',
 'Coke or Pepsi?',
 'Cookies or Ice Cream?',
 'Do you prefer ice cream in a cup or in a cone?',
 'Do you prefer dad or mom?',
 'Marvel or DC?',
 'Are you living in a dorm or an apartment?',
 'Your last digit in your NetID...',
 'Were you born in an even or odd month of the year?',
 'Would you rather have the superpower of flight or invisibility?',
 'UIUC Football or Basketball Team?',
 'French Fries or Tater Tots?',
 'Heads or Tails?',
 'Hot Weather or Cold Weather?',
 'Hot Dogs or Hamburgers?',
 'In-State or Out-of-State/International',
 'Introvert or Extrovert?',
 'Do you consider yourself to have long or short hair?',
 'Do you primarily use Windows or Mac?',
 'You Identify As?',
 'Morning Person or Night Person?',
 'Favorite Root Beer Brand',
 'Do you prefer the letter N or the letter M?',
 'Does pineapple belong on pizza?',
 'Is the day of the month your birthday falls on even or odd?',
 'Is the year of your birthday even or odd?',
 'Do you like partying at the University of Urbana-Champaign or do you want to go back home?',
 'Do you prefer pens or pencils?',
 'Pink or Blue',
 'Pizza or Burger',
 'Pizza or Sushi',
 'What subject do you prefer?',
 'Do you prefer rain or clear weather?',
 'Pizza or Ramen',
 'Rap Music or Pop Music?',
 'Red or Blue?',
 'Regular Cakes or Cupcakes?',
 'Spring or Fall?',
 'Starbucks or Dunkin?',
 'Is your major STEM or non STEM?',
 'Strawberry or Melon?',
 'Summer or Winter?',
 'Who would win: Superman or Homelander?',
 'Which came first, the chicken or the egg?',
 'The Office or Friends?',
 'TV Shows or Movies?',
 'Are you an upperclassmen or an underclassmen?',
 'Pancakes or Waffles?',
 'XBox or Playstation?',
 'Do you have any pets?',
 'Will you turn 19 before October?',
 'Do you eat breakfast?',
 'Do you like deep dish pizza?',
 'Is this your first year at UIUC?',
 'Do you drive a car?',
 'Are you a dog person?',
 'Is a hotdog a sandwich?',
 'Do you use the busses?',
 'Do you wear glasses?',
 'Do you have a TV in your room?',
 'Did you go to the Illinois vs Wyoming game last Saturday?',
 'Are you taking RHET 105 this semester?',
 'When did you wake up today?',
 'Do you have a sibling?',
 'Have you ever gotten COVID-19?',
 'Do you bring a water bottle to class?',
 'How many credit hours are you taking this semester?',
 'Do you like school dorms?',
 'How tall are you?',
 'Do you play any sports?',
 'Are your ears pierced?',
 'Do you believe in life on other planets?',
 'Do you have experience with computer programming before DISCOVERY?',
 'Does your UIN end with an even number?',
 'Study Strategy: Stay Up Late or Get Up Early?',
 'Have you ever had a student loan?',
 'Data Science DISCOVERY is',
 'Do you fold up or ball toilet paper?',
 'What day during the month is your birthday?',
 'At what age do you think you will die?',
 'From 1 to 10, how happy are you right now?',
 'How many classes are you taking this semester?',
 'How many credit hours are you taking this semester?.1',
 'How many classes do you have on Friday?',
 'How many countries have you been to outside the US?',
 'How many hours of sleep did you get last night?',
 'How many hours of sleep do you get on average?',
 'How many meals do you have one day?',
 'How many pets do you have?',
 'How many roommates do you have?',
 'How many siblings do you have?',
 'How many years do you plan to study at university?',
 'What is your favorite number?',
 'What was your second choice for college (excluding your top choice of UIUC)?',
 'What is your favorite coffee shop drink?',
 'What is your favorite mobile app?',
 'What is your favorite subject?',
 'Who is your favorite singer?',
 'What is your favorite season?',
 'What is your Zodiac sign?',
 'What is your favorite video game?',
 'What is your favorite non-video game?',
 'What is your favorite food?',
 "What's your favorite movie?"]

## Record the Variable for Your Question

In the cell below, record your question's column name in the variable `analysis_column`.  You'll need that exact column name to reference data from that cell.

In [17]:
analysis_column = "Do you primarily use Windows or Mac?"
analysis_column

'Do you primarily use Windows or Mac?'

### üî¨ Test Case Checkpoint üî¨

In [18]:
## == CHECKPOINT TEST CASES ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.
assert( 'df' in vars() ), "You do not have a DataFrame called `df`."
assert( analysis_column in df ), "Make certain your analysis_column is EXACTLY as it appears in the Hello Dataset."

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

üéâ All tests passed! üéâ

## Column Subset: View Only Your Question's Responses

To begin your question's analysis, you may want to **focus only on your question**.  In lecture, we have primarily focused on creating subsets of rows. However, you can also create a subset of columns!

To create a DataFrame with just a single column, you can use the syntax:
```
df[ ["column name"] ]
```
- Notice the **double set of square brackets**.  You need the set for `df`, and the second set for the column name.
- You can find this syntax under the "Subset Variables (Columns)" on your cheat sheet!

Us Python to display only the column you're analyzing.  This will make it easy to see what the two options were for your question:

In [21]:
df_specific = df[["Do you primarily use Windows or Mac?"]]
df_specific

    Do you primarily use Windows or Mac?
0                                    Mac
1                                    Mac
2                                    Mac
3                                    Mac
4                                Windows
..                                   ...
519                                  Mac
520                              Windows
521                              Windows
522                              Windows
523                              Windows

[524 rows x 1 columns]

## DataFrame: Group One

Create a DataFrame, `df1`, that contains everyone who picked the first option of your two answers.  *(Make sure to make this a subset of the original `df`, and not just your one column.)*

In [24]:
df1 = df_specific[df_specific["Do you primarily use Windows or Mac?"] == "Windows"]
df1

    Do you primarily use Windows or Mac?
4                                Windows
8                                Windows
10                               Windows
11                               Windows
14                               Windows
..                                   ...
518                              Windows
520                              Windows
521                              Windows
522                              Windows
523                              Windows

[227 rows x 1 columns]

## DataFrame: Group Two

Create a new DataFrame, `df2`, that contains everyone who picked the other answer:

In [25]:
df2 = df_specific[df_specific["Do you primarily use Windows or Mac?"] == "Mac"]
df2

    Do you primarily use Windows or Mac?
0                                    Mac
1                                    Mac
2                                    Mac
3                                    Mac
5                                    Mac
..                                   ...
512                                  Mac
514                                  Mac
516                                  Mac
517                                  Mac
519                                  Mac

[294 rows x 1 columns]

## Analysis

Discuss the following questions with your group and then write down your response!

**Q1: What percentage of people chose each of your two binary options?**

Windows: 227/524 = 43.3%
Mac: 294/524 = 56.1%

**Q2: Did this surprise you? Why or why not? Write at least one complete sentence.**

Yes because I have always only used Windows, so seeing more people using mac really surprised me

**Q3: Do you think your question was the closest to a perfect 50/50 split among the whole class?**

It was a pretty close split, but I believe there was definitely one much closer

<hr style="color: #DD3403;">

## Part 2: Creating Treatment and Control Groups

For the rest of this lab, we will consider the "Hello Dataset" to be a pre-survey of randomly selected participants for an upcoming experiment.  In lecture, you learned that a good experiment will split the participants into two groups: the "treatment" group and the "control" group.

Recall that it is necessary to have both groups:

- The "control" group is a comparison group that will receive a placebo and will act as a control to ensure that the treatment has an effect.
- The "treatment" group will receive a treatment and we will look for differences between the results of this treatment group and the control group.

## Part 2.1: Select a Treatment Group

Select half (50%) of the participants to be in the treatment group and place them into a DataFrame called `treatment`.
- Remember, you can use your **pandas cheat sheet** to help you out!

In [26]:
treatment = df.sample(frac = 0.5)
treatment

,Name,Lab,Number 1 or Number 2?,Number 3 or Number 5?,What is your preferred way of saying one half?,7UP or Sierra Mist?,Android or iOS?,Apple or Orange?,Beef or Pork?,Your birthday is...,...,What is your favorite coffee shop drink?,What is your favorite mobile app?,What is your favorite subject?,Who is your favorite singer?,What is your favorite season?,What is your Zodiac sign?,What is your favorite video game?,What is your favorite non-video game?,What is your favorite food?,What's your favorite movie?
162,Connor,AYI,1.0,5.0,2-Jan,Sierra Mist,iOS,Apple,Beef,On/After July 1,...,Hot Chocolate,Clash Royale,History,Frank Sinatra,Fall,Saggitarius,Super Smash Bros,Monopoly,Pasta,Anchorman 2
510,Sahithi,AYF,1.0,3.0,2-Jan,7UP,iOS,Apple,Pork,On/Before June 30,...,Iced Coffee,Snapchat,History,The Weeknd,Fall,Gemini,Fortnite,Monopoly,Noodles,Spider Man
457,Jay,AYA,1.0,3.0,2-Jan,7UP,iOS,Apple,Beef,On/After July 1,...,frappe,mint,Math,Whitney Houston,Fall,Virgo,Mario Kart: Double dash,Spades,pizza,Remember The Titans
306,Adithya,AYS,1.0,3.0,2-Jan,7UP,iOS,Orange,Pork,On/Before June 30,...,Ube Latte,TikTok,CS,Isaiah Rashad,Fall,Aries,Animal Crossing,Cards Against Humanity,Lobster rolls,Spirited Away
361,Maciej,AYB,2.0,5.0,2-Jan,7UP,iOS,Apple,Beef,On/Before June 30,...,Ice Vanilla Latte,Snapchat,Math,The Weeknd,Spring,Taurus,Call of Duty: Black Ops 3,Monopoly,Pizza,Django Unchained
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466,Marcus,AYH,2.0,5.0,2-Jan,7UP,Android,Orange,Beef,On/After July 1,...,Water,Twitter,Math,Hatsune Miku,FAll,Libra,Celeste,Monopoly,Rice And Egg,Iron Man 2
516,Edward,AYQ,1.0,5.0,0.5,Sierra Mist,iOS,Orange,Beef,On/After July 1,...,Philz,Xiaohongshu,Finance,Bruno Mars,summer,Sagittarius,I don't play games,I don't play games,Barbecue,Persuit of Happiness
47,Dylan,AYN,1.0,5.0,2-Jan,7UP,iOS,Apple,Pork,On/After July 1,...,Matcha Green Tea,Discord,Data Science,Rex Orange County,Spring,Cancer,League Of Legends,Chess,Poke,Demon Slayer Mugen Train
470,Bushra,AYP,2.0,3.0,2-Jan,7UP,iOS,Orange,Beef,On/Before June 30,...,Peppermint mocha from Starbucks,TikTok,Math,The Weeknd,Fall,Aries,League of Legends,Slaps,Samosas,Diary of a Wimpy Kid: Rodrick Rules
84,Bill,AYE,1.0,5.0,2-Jan,7UP,Android,Apple,Beef,On/Before June 30,...,Iced Coffee,WeChat,Computer Science,Yorushika,Spring,Aries,Hearthstone,Fight the landlord,Rice balls,kimi no suizou wo tabetai

## Part 2.2: Select a Control Group

Using the **exact same technique and syntax** as you did above, also select half (50%) of the participants to be in the control group.  Place them into a DataFrame called `control`. For now, it's okay if there are people who are in both groups.

In [27]:
control = df.sample(frac = 0.5)
control

,Name,Lab,Number 1 or Number 2?,Number 3 or Number 5?,What is your preferred way of saying one half?,7UP or Sierra Mist?,Android or iOS?,Apple or Orange?,Beef or Pork?,Your birthday is...,...,What is your favorite coffee shop drink?,What is your favorite mobile app?,What is your favorite subject?,Who is your favorite singer?,What is your favorite season?,What is your Zodiac sign?,What is your favorite video game?,What is your favorite non-video game?,What is your favorite food?,What's your favorite movie?
288,Patrice,AYK,2.0,3.0,2-Jan,Sierra Mist,Android,Apple,Beef,On/Before June 30,...,caramel macchiato,instagram,History,conan gray,Fall,capricorn,minecraft,uno,miso soup,flipped
415,Jie Zhang,AYA,2.0,5.0,0.5,7UP,iOS,Orange,Beef,On/After July 1,...,no,wechat,stat,gai,autumn,libra,no,no,potato,harry potter
244,Shrikar,AYL,1.0,3.0,2-Jan,Sierra Mist,iOS,Apple,Pork,On/After July 1,...,Chai Latte,Snapchat,CS,NBA Youngboy,Summer,Leo,NBA 2K,Basketball,Pizza,Good Will Hunting
45,Karolina,AYO,1.0,3.0,0.5,7UP,iOS,Apple,Pork,On/Before June 30,...,chai latte,Imessage,accy,Pitbull,winter,Capricorn,None,2048,steak,Me Before You
246,Ashley,AYA,2.0,3.0,2-Jan,7UP,iOS,Orange,Beef,On/After July 1,...,Machiato,Pinterest,History,SZA,Winter,Sagittarius,Mario Kart,boom cup,Sushi,Bee Movie
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,Pickles,AYC,2.0,5.0,0.5,7UP,iOS,Apple,Pork,On/Before June 30,...,Tea,Illinois app,English,Jen Jen,Fall,Aquarius,Breath of the Wild,Mahjong,Mac & cheese,Spiderverse
221,Scarlett,AYJ,2.0,5.0,NaN,NaN,iOS,Orange,Beef,On/After July 1,...,hot chocolate,NaN,NaN,NaN,fall,NaN,NaN,boardgames,NaN,NaN
321,Ji,AYQ,1.0,3.0,0.5,7UP,iOS,Orange,Beef,On/After July 1,...,Starbucks,Reddit,Math,Phoebe Bridgers,Spring,Scorpio,Super Mario,Monopoly,Sushi,Your Name
229,Harshi,AYS,2.0,3.0,2-Jan,7UP,iOS,Orange,Beef,On/After July 1,...,Caramel Macchiato,BeReal,Mythology,Joji,Fall,Sagittarius,Minecraft,Charades,Pasta,Jumanji (1999)
494,Ike,AYD,2.0,3.0,0.5,7UP,iOS,Apple,Beef,On/Before June 30,...,latte,Clash of Clans,math,bruno mars,fall,Sagittarius,mario kart,monopoly,steak,the dark knight

### üî¨ Test Case Checkpoint üî¨

In [28]:
## == CHECKPOINT TEST CASES ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.
assert( 'df' in vars() ), "You do not have a DataFrame called `df`."
assert( 'treatment' in vars() ), "You do not have a DataFrame called `treatment`."
assert( 'control' in vars() ), "You do not have a DataFrame called `control`."
assert( len(treatment) == len(control) ), "The `treatment` and `control` groups must be the same size."
assert( abs((len(df) / 2) - len(treatment)) <= 1 ), "The `treatment` group size must be 50% of the `df`"
assert( abs((len(df) / 2) - len(control)) <= 1 ), "The `control` group size must be 50% of the `df`"


## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

üéâ All tests passed! üéâ

## Analysis: Overlapping Selection?

The following code will detect rows that are **both in your treatment and control** groups.

Run the following cell to see everyone who is in both groups:

In [29]:
df[ df.index.isin(treatment.index) & df.index.isin(control.index) ]

,Name,Lab,Number 1 or Number 2?,Number 3 or Number 5?,What is your preferred way of saying one half?,7UP or Sierra Mist?,Android or iOS?,Apple or Orange?,Beef or Pork?,Your birthday is...,...,What is your favorite coffee shop drink?,What is your favorite mobile app?,What is your favorite subject?,Who is your favorite singer?,What is your favorite season?,What is your Zodiac sign?,What is your favorite video game?,What is your favorite non-video game?,What is your favorite food?,What's your favorite movie?
6,Esbeida,AYA,2.0,5.0,2-Jan,7UP,iOS,Orange,Beef,On/After July 1,...,Iced vanilla coffee,Snapchat,Math,The Weeknd,Fall,Capricorn,Mario Kart,Cards Against Humanity,Pasta,Wall-E
10,Maxwell,AYJ,1.0,5.0,2-Jan,7UP,iOS,Orange,Beef,On/After July 1,...,Peach green tea lemonade,Spotify,Math,Eminem,Fall,Scorpio,Minecraft,Monopoly,Poke,Inception
15,Steven,AYR,1.0,3.0,2-Jan,Sierra Mist,iOS,Apple,Beef,On/Before June 30,...,Frappucino,Chipotle App,CS,Joji,Fall,Monkey,Leauge of Legends,Any Card game,Noodles,Interstellar
17,Wing,AYB,1.0,5.0,2-Jan,Sierra Mist,iOS,Apple,Beef,On/Before June 30,...,Bridgeport Coffees,iMessage,Math,IU,Winter,Aquarius,Valorant,Exploding Kittens,Lobster,Avengers End Game
26,Irith,AYI,1.0,3.0,2-Jan,7UP,Android,Orange,Pork,On/Before June 30,...,Hot Chocolate,YouTube,History,Lewis Capaldi,Spring,Pisces,Fifa,Soccer(Football),Burgers,La la Land
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,Faayez,AYT,2.0,5.0,2-Jan,7UP,Android,Apple,Beef,On/Before June 30,...,Chai latte,Spotify,Economics,Arjit Singh,Fall,Pisces,Fifa 22,Tennis,Nihari,Pursuit of Happiness
516,Edward,AYQ,1.0,5.0,0.5,Sierra Mist,iOS,Orange,Beef,On/After July 1,...,Philz,Xiaohongshu,Finance,Bruno Mars,summer,Sagittarius,I don't play games,I don't play games,Barbecue,Persuit of Happiness
521,Shivam Patel,AYC,1.0,3.0,0.5,7UP,iOS,Apple,NaN,On/Before June 30,...,Don‚Äôt have one,Youtube,World History,Kumar Sanu,Summer,Aquarius,FIFA 20,Chess,Pizza,Avengers Endgame
522,Colin,AYI,1.0,5.0,2-Jan,Sierra Mist,iOS,Orange,Beef,On/Before June 30,...,tea,YouTube,Math,The Weeknd,Summer,Aquarious,Rocket League,Poker,Tacos,Inception
523,Evan,AYG,2.0,3.0,2-Jan,7UP,Android,Orange,Beef,On/After July 1,...,Tea,Facebook,Probability and Measure Theory,Fredie Mercury,Winter,Libra,Uncharted,Basketball,Eggs with bacon,Interstellar

**Q: Why would your code result in some people being included in both groups? Write at least one complete sentence explaining why you think this might occur.**

It took random 50% of people twice so it definitely overlapped, the first 50% weren't removed from the dataset

## Part 2.3:

Read the following guide on **using `.index.isin` to select all rows from a DataFrame not in another DataFrame**: https://discovery.cs.illinois.edu/guides/DataFrame-Row-Selection/dataframe-isin-selection/

Finally, create a new `control` group that contains all of the participants from `df` that are not in `treatment`:

In [41]:
control = df[~df.index.isin(treatment.index)]

control

,Name,Lab,Number 1 or Number 2?,Number 3 or Number 5?,What is your preferred way of saying one half?,7UP or Sierra Mist?,Android or iOS?,Apple or Orange?,Beef or Pork?,Your birthday is...,...,What is your favorite coffee shop drink?,What is your favorite mobile app?,What is your favorite subject?,Who is your favorite singer?,What is your favorite season?,What is your Zodiac sign?,What is your favorite video game?,What is your favorite non-video game?,What is your favorite food?,What's your favorite movie?
1,CA Ram,AYR,2.0,5.0,2-Jan,7UP,iOS,Apple,NaN,On/After July 1,...,Black coffee,Google chrome,Mathematics,TWICE,Spring,Scorpio,Player Unkown's Battleground,Basketball,Rice,The conjouring
2,CA Xin,AYO,1.0,5.0,2-Jan,Sierra Mist,iOS,Apple,Beef,On/Before June 30,...,starbucks,Starbucks,Psychology,Five Exercuse,Winter,aquarius,None,None,Eggs,Flipped
3,Lekha,AYH,2.0,2.0,0.5,7UP,iOS,Orange,Pork,On/After July 1,...,pumpkin spice latte,twitter,english (writing),lana del rey,autumn,leo,animal crossing,catan,tteokbokki,dune (2021)
4,Reni,AYD,2.0,5.0,2-Jan,7UP,iOS,Apple,Pork,On/Before June 30,...,Mocha,Instagram,Math,Mark kozelek,Winter,Aquarias,Rainbow six siege,Catan,Tacos,End of Evangelion
5,Linger,AYF,2.0,5.0,2-Jan,7UP,iOS,Apple,Beef,On/Before June 30,...,Starbucks,App Store,Any STEM,Don‚Äôt have one,Fall,Gemini,Minecraft,UNO,Authentic Chinese Food,Harry Potter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,Laiba,AYO,1.0,5.0,0.5,7UP,iOS,Apple,Beef,On/After July 1,...,Starbucks,Snapchat,cs,Taylor swift,fall,libra,fruit ninja,charades,biryani,Spiderman far from home
509,Tess,AYC,2.0,5.0,2-Jan,7UP,iOS,Apple,Beef,On/Before June 30,...,cold brew,twitter,History,MARINA,spring,Taurus,NaN,Rummikub,garlic bread,Parent Trap
512,Veronica,AYO,1.0,3.0,2-Jan,7UP,iOS,Apple,Beef,On/Before June 30,...,Vanilla sweet cream cold brew,Pokemon Go,History,Wallows,Fall,Capricorn,Super Smash,paranoia,sushi,Little Women
518,Celesta,AYS,1.0,3.0,0.5,7UP,iOS,Apple,Beef,On/After July 1,...,Frappuccino,instagram,science,bts,winter,capricorn,mario kart,genshin impact,ramen,disney rapanzel
519,Bill,AYC,1.0,5.0,2-Jan,Sierra Mist,iOS,Apple,Beef,On/After July 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### üî¨ Test Case Checkpoint üî¨

In [42]:
## == CHECKPOINT TEST CASES ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.
assert( 'df' in vars() ), "You do not have a DataFrame called `df`."
assert( 'treatment' in vars() ), "You do not have a DataFrame called `treatment`."
assert( 'control' in vars() ), "You do not have a DataFrame called `control`."
assert( abs((len(df) / 2) - len(treatment)) <= 1 ), "The `treatment` group size must be 50% of the `df`"
assert( abs((len(df) / 2) - len(control)) <= 1 ), "The `control` group size must be 50% of the `df`"
assert( len(df[ df.index.isin(treatment.index) & df.index.isin(control.index) ]) == 0), "The `treatment` and `control` groups have some overlap!  There must be no overlap."

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

üéâ All tests passed! üéâ

## Part 2.4: Finding Yourself!

Use the following cells to write Python code to find yourself in either the treatment group or control group.
- **Hint**: How do you select a subset of rows?  What conditional will identify you??
- If you did not fill out the "Hello Survey" then you are not in this dataset. :(
- If you are not in this survey, find either "Prof. Wade" or "Prof. Karle" instead.  *(Those are the names we used in the `Name` column.)*

In [43]:
treatment[treatment.Name == "Jakub"]

,Name,Lab,Number 1 or Number 2?,Number 3 or Number 5?,What is your preferred way of saying one half?,7UP or Sierra Mist?,Android or iOS?,Apple or Orange?,Beef or Pork?,Your birthday is...,...,What is your favorite coffee shop drink?,What is your favorite mobile app?,What is your favorite subject?,Who is your favorite singer?,What is your favorite season?,What is your Zodiac sign?,What is your favorite video game?,What is your favorite non-video game?,What is your favorite food?,What's your favorite movie?
226,Jakub,AYD,1.0,5.0,2-Jan,7UP,iOS,Apple,Beef,On/Before June 30,...,Carmel Frappuccino,Snapchat,Coding,J. Cole,Spring,Taurus,Star Wars Jedi: Fallen Order,Cards Against Humanity,Pizza,Borat

## Analysis: Finding Yourself!

**Q: Which group where you in -- treatment or control?**

Treatment

<hr style="color: #DD3403;">

# Part 3: Using Blocking to Create Treatment and Control Groups that are Balanced

In your pre-experiment research, you have reason to believe that how the participants answer **your group's question** might influence the response of this experiment!  Oh no! Even though this is a large sample of participants, we want to block to be absolutely sure that the treatment and control groups are balanced with regard to your group's question!

To control for this, we will using **blocking**!  Remember from lecture that blocking has us creating subgroups for each response, selecting equal-sized treatment and control groups from each block, and then combining all the treatment groups together and all the control groups together to get the final groups. This ensures that your groups are balanced with regard to the variable you blocked on!

You have already done some of this work:
- Earlier in this notebook, you created `df1` that includes everyone who answered your group's question one way.
- Earlier in this notebook, you created `df2` that includes everyone who answered your group's question the other way.

## Part 3.1:

Create a `df1_treatment` group that contains a random selection of 50% of the rows from `df1`.

In [44]:
df1_treatment = df1.sample(frac = 0.5)
df1_treatment

    Do you primarily use Windows or Mac?
230                              Windows
419                              Windows
275                              Windows
518                              Windows
220                              Windows
..                                   ...
43                               Windows
126                              Windows
110                              Windows
99                               Windows
292                              Windows

[114 rows x 1 columns]

## Part 3.2:

Create a `df1_control` group that contains the other half of the rows from `df1`. *(You can refer back to Part 2 to refresh on how to do this, make sure you use `df1` and `df1_control` as your DataFrames.)*

In [47]:
df1_control = df1[~df1.index.isin(df1_treatment.index)]
df1_control

    Do you primarily use Windows or Mac?
4                                Windows
8                                Windows
10                               Windows
11                               Windows
14                               Windows
..                                   ...
492                              Windows
496                              Windows
509                              Windows
513                              Windows
522                              Windows

[113 rows x 1 columns]

### üî¨ Test Case Checkpoint üî¨

In [48]:
## == CHECKPOINT TEST CASES ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.
assert( 'df1_treatment' in vars() ), "You do not have a DataFrame called `df1_treatment`."
assert( 'df1_control' in vars() ), "You do not have a DataFrame called `df1_control`."
assert( len(df[ df.index.isin(df1_treatment.index) & df.index.isin(df1_control.index) ]) == 0), "The `df1_treatment` and `df1_control` groups have some overlap!  There must be no overlap."
assert( len(df[ df.index.isin(df1_treatment.index) & df.index.isin(df2.index) ]) == 0), "The `df1_treatment` and `df2` groups have some overlap!  There must be no overlap."
assert( len(df[ df.index.isin(df1_control.index) & df.index.isin(df2.index) ]) == 0), "The `df1_control` and `df2` groups have some overlap!  There must be no overlap."

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

üéâ All tests passed! üéâ

## Part 3.3:

Create a `df2_treatment` group that contains a random selection of 50% of the rows from `df2`.

In [49]:
df2_treatment = df2.sample(frac=0.50)
df2_treatment

    Do you primarily use Windows or Mac?
169                                  Mac
368                                  Mac
64                                   Mac
157                                  Mac
354                                  Mac
..                                   ...
156                                  Mac
236                                  Mac
216                                  Mac
295                                  Mac
495                                  Mac

[147 rows x 1 columns]

## Part 3.4:

Create a `df2_control` group that contains the other half of the rows from `df2`.

In [50]:
df2_control = df2[~df2.index.isin(df2_treatment.index)]
df2_control

    Do you primarily use Windows or Mac?
1                                    Mac
7                                    Mac
12                                   Mac
13                                   Mac
20                                   Mac
..                                   ...
507                                  Mac
511                                  Mac
512                                  Mac
516                                  Mac
519                                  Mac

[147 rows x 1 columns]

### üî¨ Test Case Checkpoint üî¨

In [51]:
## == CHECKPOINT TEST CASES ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.
assert( 'df2_treatment' in vars() ), "You do not have a DataFrame called `df2_treatment`."
assert( 'df2_control' in vars() ), "You do not have a DataFrame called `df2_control`."
assert( len(df[ df.index.isin(df2_treatment.index) & df.index.isin(df2_control.index) ]) == 0), "The `df2_treatment` and `df2_control` groups have some overlap!  There must be no overlap."
assert( len(df[ df.index.isin(df2_treatment.index) & df.index.isin(df1.index) ]) == 0), "The `df2_treatment` and `df1` groups have some overlap!  There must be no overlap."
assert( len(df[ df.index.isin(df2_control.index) & df.index.isin(df1.index) ]) == 0), "The `df2_control` and `df1` groups have some overlap!  There must be no overlap."


## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

üéâ All tests passed! üéâ

## Part 3.5:

Finally, read the guide: **Combining DataFrames by Concatenation** (https://discovery.cs.illinois.edu/guides/Combining-DataFrames/Combining-DataFrames-by-Concatenation/) to learn how to combine `df1_treatment` and `df2_treatment` together into one group called `treatment`:

In [52]:
treatment = pd.concat([df1_treatment, df2_treatment])

treatment

    Do you primarily use Windows or Mac?
230                              Windows
419                              Windows
275                              Windows
518                              Windows
220                              Windows
..                                   ...
156                                  Mac
236                                  Mac
216                                  Mac
295                                  Mac
495                                  Mac

[261 rows x 1 columns]

## Part 3.6:

Using the same technique, combine `df1_control` and `df2_control` together into one group called `control`:

In [53]:
control = pd.concat([df1_control, df2_control])
control

    Do you primarily use Windows or Mac?
4                                Windows
8                                Windows
10                               Windows
11                               Windows
14                               Windows
..                                   ...
507                                  Mac
511                                  Mac
512                                  Mac
516                                  Mac
519                                  Mac

[260 rows x 1 columns]

### üî¨ Test Case Checkpoint üî¨

In [54]:
## == CHECKPOINT TEST CASES ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.
assert( len(df[ df.index.isin(treatment.index) & df.index.isin(control.index) ]) == 0), "The `treatment` and `control` groups have some overlap!  There must be no overlap."

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

üéâ All tests passed! üéâ

## Analysis: Blocking

**Q: In your own words, explain what blocking is and why it is useful to someone who has never taken a statistics course before! You can use what you did above as an example in your explanation if you'd like. Make sure to include what blocking is and why it is useful. Write at least three complete sentences to answer this question.**

Blocking takes a random sample of people from a group, puts them into a treatment group, then blocks those people out so the other group has all different people. It is useful so that there's no overlap, and so the groups are completely randomized. It also helps prevent bias in research

<hr style="color: #DD3403;">

# Submission

You're almost done!  All you need to do is to commit your lab to GitHub:

1.  ‚ö†Ô∏è **Make certain to save your work.** ‚ö†Ô∏è To do this, go to **File => Save All**

2.  After you have saved, exit this notebook and follow the Canvas instructions to commit this lab to your Git repository!

3. Your TA will grade your submission and provide you feedback after the lab is due. :)